/* 1 */
.header {
   display: grid;
   grid-template-columns: 1fr min-content 1fr;
   align-items: center;
   padding: 92px 50px;
}

/* 8 */
.header__links-list {
   display: flex;
   gap: 32px;
}

/* 13 */
.header__links-list-item {
   font-size: 18px;
   list-style: circle;
}

/* 18 */
.header__links-list-item_no-bullit {
   list-style: none;
}

/* 22 */
.header__link {
   border-bottom: 1px solid;
   text-decoration: none;
}

/* 27=? */
.header__link_active {
   border-bottom: none;
}

/* 31=? */
.header__logo {
   width: 148px;
}

/* 35 */
.address {
   max-width: 240px;
   font-size: 18px;
   font-style: normal;
   line-height: 1.35;
}

/* 42 */
.header__address {
   justify-self: end;
}

/* 46 */
.address a {
   border-bottom: 1px solid;
   text-decoration: none;
}

/* 51 */
.cover {
   position: relative;
   padding: 165px 50px 50px;
   background-image: url(../images/cover.jpg);
   background-position: center;
   background-size: cover
}

/* 59=? */
.overlay {
   position: absolute;
   inset: 0;
   background-color: rgb(0 0 0/0.6);
}

/* 65 */
.cover__title {
   position: relative;
   z-index: 1;
   margin-bottom: 135px;
   color: #fff;
   font-size: 100px;
   line-height: 1.15;
   letter-spacing: 0.3em;
   text-transform: uppercase;
}

/* 76 */
.aligned-text {
   display: block;
   margin-top: 20px;
   line-height: 1;
}

/* 82 */
.aligned-text_center {
   text-align: center;
}

/* 86 */
.aligned-text_right {
   text-align: right;
}

/* 90 */
.letter-spacing-extended {
   letter-spacing: 0.6em;
}

/* 94 */
.no-letter-spacing {
   letter-spacing: initial;
}

/* 98 */
.cover__description {
   position: relative;
   z-index: 1;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 78px;
}

/* 107 */
.cover__description-text {
   color: #fff;
   font-size: 22px;
   text-transform: uppercase;
   word-spacing: 18px;
}

/* 114 */
.bet-button {
   border: 1px solid #fff;
   padding: 12px 32px;
   color: #fff;
   font-weight: normal;
   font-size: 22px;
   text-transform: uppercase;
   background-color: transparent;
}

/* 124 */
.lots {
   padding: 180px 50px 0;
}

/* 128 */
.lots__heading {
   margin-bottom: 27px;
   padding: 0 40px;
   font-size: 40px;
   text-transform: uppercase;
}

/* 135 */
.lots__cards-list {
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
   list-style: none;
}

/* 142 */
.lots__cards-list-item {
   flex-grow: 1;
   width: 430px;
   min-height: 450px;
}

/* 148 */
.card-link {
   display: block;
   height: 100%;
   text-decoration: none;
}

/* 154 */
.card {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   padding: 50px 40px;
   color: #fff;
   background-color: #000;
   background-position: center;
   background-size: cover;
}

/* 167=? */
.card__title {
   z-index: 1;
   font-size: 22px;
   text-decoration: underline;
   text-transform: uppercase;
}

/* 174 */
.card__text {
   z-index: 1;
   font-size: 20px;
}

/* 179 */
.card_type_film {
   background-image: url(../images/card-lot-01.jpg);
}

/* 183 */
.card_type_book {
   background-image: url(../images/card-lot-02.jpg);
}

/* 187 */
.card_type_picture {
   background-image: url(../images/card-lot-03.jpg);
}

/* 191 */
.lots__look-more-link {
   display: inline-block;
   margin-top: 30px;
   margin-left: 40px;
   border-bottom: 1px solid;
   color: #000;
   font-size: 20px;
   text-decoration: none;
}

/* 201 */
.about {
   display: grid;
   grid-template-columns: 430px 1fr;
   justify-content: space-between;
   gap: 25px;
   padding: 180px 50px;
}

/* 209 */
.about__logo {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 240px;
   height: 240px;
   margin: auto;
   border-radius: 50%;
   background-color: #000;
}

/* 220 */
.about__logo-image {
   width: 148px;
}

.about__title {
   margin: 100px 0;
   font-size: 40px;
   text-transform: uppercase;
}

/* 230 */
.about__text {
   display: flex;
   flex-direction: column;
   gap: 25px;
   font-size: 20px;
}

/* 237 */
.footer {
   display: grid;
   grid-template-columns: 1fr min-content 1fr;
   padding: 0 50px 90px;
}

/* 243 */
.footer__menu-list {
   font-size: 18px;
   text-align: center;
   list-style: none;
}

/* 249 */
.footer__menu-link {
   border-bottom: 1px solid;
   text-decoration: none;
}

/* 254 */
.footer__menu-link_active {
   border-bottom: none;
}

/* 258 */
.footer__social-list {
   display: flex;
   justify-self: end;
   gap: 48px;
   /* flex-wrap: wrap; */
   list-style: none;
}

/* 265 */
.footer__social-icon {
   width: 48px;
}